html * {
    font-family: monospace;
    color: white;
    margin: 0;
}

body {
    background: rgb(255,172,67);
    background: linear-gradient(0deg, rgba(255,172,67,1) 0%, rgba(138,190,153,1) 73%, rgba(0,212,255,1) 100%); 
}

canvas {
    display: block;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.button {
    background-color: black;
    border: solid 1px white;
    padding: 4px 12px;
}